* {
    margin: 0;
    padding: 0;
}

.news {
    width: 500px;
    border: 1px solid #9e9e9e;
    margin: 10px;
}

img {
    width: 100%;
}

h2{
    color: red;
    padding: 10px;
}
p {
    padding: 10px;
}

.bg-color {
    background-color: #1c6e5c;
}